html{
    width: 100%;
}

body{
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.none{
    display: none !important;
}


.container{
    max-width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-wide{
    width: 100%;
    padding: 0;

}
