.menu{
    display: flex;
}
.menu li+li {
    margin-left: 24px;
}
.menu ul {
    display: flex;
    align-items: center;
}

.menu a {
    transition: opacity 0.2s ease;
}

.menu a.btn:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.menu a:hover {
    opacity: 0.8;
    color: #FF453A;
    
}

.menu__item {
    cursor: pointer;
    
}

.menu__item_big {
    font-size: 21.5px;
}