/* .slider {
    padding-bottom: 64px;
}
.container {
} */
.slider-wrapper {
    position: relative;
    width: 100%;
    max-height: 720px;
    overflow: hidden;
}

.slider-slides {
    display: flex;
    width: 100%;
    min-height: 720px;
    transition: .5s;
}


.slide {
    position: relative;
    background-color: black;
    height: 720px;
    min-width: 100%;
}

.slider-nav {
    position: absolute;
    display: flex;
    left: 100px;
    bottom: 44px;
    justify-content: space-between;
    width: 650px;
    align-items: center;
}

.slider-pagination {
    display: flex;
    width: 100px;
    align-items: center;
}

.slider-pagination__bullet {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: grey;
}

.slider-pagination__bullet+.bullet {
    margin-left: 10px;
}

.bullet {}

.slider-pagination__bullet.bullet.active {
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.slider-button {
    width: 12px;
    height: 24px;
}

.slider-button-prev {
    cursor: pointer;
}

.slider-button-next {
    cursor: pointer;
}

.slide-bg__fingerprint {
    width: 100%;
    height: 720px;
}

.slide-bg__fingerprint img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-bg__giraffe {
    box-sizing: border-box;
    position: absolute;
    width: 666px;
    height: 666px;
    left: 57%;
    top: 30%;

    background: rgba(255, 255, 255, 0.0072);
    border: 32px solid #FF453A;
    backdrop-filter: blur(24px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 333px;
}

.giraffe-circle {}

.slide__text {}

.slide-text {
    position: absolute;
    top: 48px;
    left: 80px;
    padding-left: 50px;
    color: white;

}

.slide-text__title {
    max-width: 1120px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}

.slide-text__title span {
    color: #FF453A;
    text-transform: uppercase;
}

.slide-text__description {
    padding-left: 32px;
    padding-top: 48px;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    max-width: 683px;
}

.slide-text__description ul {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 16px;
}

.slide-text__description li {
    list-style-type: disc;
    list-style-position: outside;
}

@media(max-width: 1350px) {
    .slide-text__description {
        max-width: 600px;
    }
}

@media(max-width: 1150px) {
    .slide-text {
        top: 48px;
        left: 0;
    }

    .slide-text__title {
        max-width: 1075px;
    }
}

@media(max-width: 922px) {
    .slide-bg__giraffe {
        width: 400px;
        height: 400px;
        top: 25%;
        left: 65%;
    }

    .slider-wrapper {
        max-height: 500px;
    }

    .slide-text__title {
        font-size: 32px;
        line-height: 32px;
    }

    .slide-text__description {
        font-size: 22px;
        line-height: 32px;
        max-width: 445px;
    }

    .slider-nav {
        width: 400px;
    }
}

@media(max-width: 750px) {

    .slider-wrapper {
        min-height: 700px;
    }

    .slide-text {
        width: 100%;
    }

    .slide-text__description {
        font-size: 16px;
        line-height: 18px;
        min-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .slider-nav {
        left: 20%;
        bottom: unset;
        top: 50%;
        position: unset;
    }

    .slider-button-prev {
        display: inherit;
        position: absolute;
        top: 60%;
        left: 10%;
    }
    
    .slider-button-next {
        display: inherit;
        position: absolute;
        top: 60%;
        right: 10%;
    }

    .slider-pagination {
        display: none;
    }

    .slide-bg__giraffe {
        top: 45%;
        left: 20%;
    }
}

@media(max-width: 550px) {
    .slide-text__description {
        font-size: 14px;
        font-weight: 500;
    }

    .slide-text__description ul {
        column-gap: 20px;

    }

    .slider-wrapper {
        min-height: 630px;
    }

    .slide-bg__giraffe {
        top: 51%;
        left: 17%;
        width: 300px;
        height: 300px;
        border: 16px solid #FF453A;

    } 
}

@media(max-width: 450px) {
    .slider-wrapper {
        min-height: 568px;
    }

    .slide-bg__giraffe {
        top: 51%;
        left: 17%;
        width: 250px;
        height: 250px;
    }
} 

@media(max-width: 400px){
     .slide-bg__giraffe {
        top: 51%;
        left: 10%;
        width: 250px;
        height: 250px;
    } 
}